body {
    margin: 0;
}

h1,p {
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.first-dev-first {
    display: flex;
    background-color: #4300D2;
    width: 28px;
}


.first-dev-second{
    background-color: #5200FF;
    padding: 4rem 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    flex: 1;
    color: #fff;
    margin-left: auto;
}

.First-div {
    display: flex;
    width: 100%;
    background-color: black;
}


h1 {
    /* color: #fff; */
    font-size: 2.9rem;
    font-family: Inter, sans-serif;
    text-align: start;
}

p {
    /* color: #fff; */
    font-size: 1.4rem;
}

.second-div {
    margin: 0 28px;
    display: flex;
    flex-direction: column;
}



input {
    display: block;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}
button {    
    margin-top: 4rem;
    padding: 1.1rem 4.6rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #5200FF;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 50px;
    align-self: self-end;
}


.Name-input {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 23px;
}

.Email-input {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

@media only  screen and (min-width: 850px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 100vh;
    }
    input {
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }
    .second-div {
        /* flex: .6; */
        margin-top: 90px;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        box-sizing: border-box;
    }
    button {
        margin-right:  0;
    }
    .First-div {
        flex: 1;
    }

    .first-dev-first {
        width: 10%;
        height: 100%;
        background-color: #4300D2;
    
    }

    .first-dev-second {
        padding-top: 90px;
        padding-bottom: 0;
        justify-content: unset;
    }

}